<div class="mainContent">
    <div class="grid">
        <h1 class="largeHeader">Sign in</h1>

        <div class="col_1">
            <form class="signupForm">


                <label id="email">Email</label><br>
                <input class="shortInput" id="signin_email" type="text"><br>

                <label for="password">Password</label><br>
                <input class="shortInput" id="signin_password" type="text"><br>

               <br>

            </form>

        </div>
        <div class="col_4">
            <input type="button" value="sign in" onclick="signin()">
        </div>

        <div class="col_4">
            <input type="button" value="Orders" onclick="orders()">
        </div>

        <div id="error_signin" hidden="true">
            <b style="color:red;">username/password incorrect</b>
        </div>

    </div>
    </div>